<% provide(:title, "Log in") %>
<h1>Login</h1>

<%=form_for(:session, url: login_path) do |f| %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :remember_me, class: "checkbox inline" do %>
      <%=f.check_box :remember_me %>
      <span> Remember me on this computer </span>
    <%end%>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
