<%= form_for(:search, url: search_show_url, method: :get) do |f| %>

<div class="field">
  <%= f.label :keyword %>
  <%= f.text_field :keyword %>
</div>

<div class="field">
  <%= f.label :subject_id %>
  <%= f.number_field :subject_id %>
</div>

<div class="actions">
  <%= f.submit "search"%>
</div>
<% end %>
