<%= form_for(:search, url: search_show_url, method: :get) do |f| %>

<div class="field">
  <%= f.label :keyword %>
  <%= f.text_field :keyword %>
</div>

<div class="field">
  <%= f.label :subject %>
  <%= select_tag "subject", options_from_collection_for_select(Subject.all, "id", "name") %>
</div>

<div class="actions">
  <%= f.submit "search"%>
</div>
<% end %>
