<%= form_tag search_new_url, method: 'get', id: "course_search" do %>

<div class="field">
  <%= label_tag :keyword %>
  <%= text_field_tag :keyword, params[:keyword] %>
</div>

<div class="field">
  <%= label_tag :subject %>
  <%= select_tag "subject", options_from_collection_for_select(Subject.all, "id", "name", selected: (params[:subject])) %>
</div>

<div class="actions">
  <%= submit_tag "search"%>
</div>
<% end %>

<div id="results"><%=render 'results' %></div>
